<form method="get" action="First">
    <label>Name: </label> <input type="text" name="Name"> <br>
    <label>Position: </label> <input type="text" name="Position"> <br>
    <label>Sex: </label> 
    <input type="radio" value="female" name="Sex"> <label>Woman</label>
    <input type="radio" value="male" name="Sex"> <label>Man</label> <br>
    <label>Department: </label>
    <select name="Department">
        <option name="Department" value="Administrator">Administrator</option>
        <option name="Department" value="Student">Student</option>
    </select>
    <label>E-mail: </label> <input type="text" name="Email"> <br>
    <label>Phone number: </label> <input type="text" name="Phone"> <br>
    <label>Comments: </label> <input type="text" name="Comments"> <br>
    <input type="submit" value="submit"/>
</form>