@{
    ViewData["Title"] = "Home Page";
}

<form method="get" asp-action="First">
    <input type="submit" value="1"/>
</form><br />
<form method="get" asp-action="Second">
    <input type="submit" value="2" />
</form><br />
<form method="get" asp-action="Third">
    <input type="submit" value="3" />
</form><br />
<form method="get" asp-action="Forth">
    <input type="submit" value="4" />
</form><br />
<form method="post" asp-action="Fifth">
    <input type="submit" value="5" />
</form><br />
<form method="get" asp-action="Six">
    <input type="submit" value="6" />
</form><br />
<form method="get" asp-action="Seven">
    <input type="submit" value="7" />
</form><br />
<form method="get" asp-action="Eight">
    <input type="submit" value="8" />
</form><br />
<form method="get" asp-action="Nine">
    <input type="submit" value="9" />
</form><br />
<form method="post" asp-action="Ten">
    <input type="submit" value="10" />
</form>
<img src="torii_pejzazh_ozero_127598_1920x1080.jpg"/>